.edit-form {
  max-width: 400px;
  margin: auto;
}



.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonEdit {border: 2px solid #e7e7e7; border-radius: 4px; background-color: rgb(255, 128, 0);} /* Orange */
.buttonEdit:hover {background-color: #04AA6D; color: white;}

.buttonUpdate {border: 2px solid #e7e7e7; border-radius: 4px; background-color: #04AA6D;} /* Green */
.buttonUpdate:hover {background-color: #008CBA; color: white;}

.buttonPublish {border: 2px solid #e7e7e7; border-radius: 4px; background-color: #008CBA;} /* Blue */
.buttonPublish:hover {background-color: rgb(0, 128, 64); color: white;}

.buttonDelete {border: 2px solid #e7e7e7; border-radius: 4px; background-color: #f44336;} /* Red */ 
.buttonDelete:hover {background-color: rgb(128, 128, 128); color: white;}

.buttonUnPublish {border: 2px solid #e7e7e7; border-radius: 4px; background-color: rgb(192, 192, 192); color: black;} /* Gray */ 
.buttonUnPublish:hover {background-color: rgb(0, 0, 64); color: white;}

